.sarah-profile__info
  .sarah-profile__info-name Sarah Brown
  .sarah-profile__info-profession developer
  .sarah-profile__info-social
    i.fab.fa-facebook-f(aria-hidden="true")
    i.fab.fa-twitter(aria-hidden="true")
    i.fab.fa-dribbble(aria-hidden="true")
  
