@import './text-forms/text-forms';
@import './toggles/toggles';
@import './checkboxes/checkboxes';
@import './search-dropdown/search-dropdown';
@import './user-profile/user-profile';

.form-elements__content {
  @include flex(row, flex-start);
  width: 100%;
  justify-content: space-between;
  padding: 40px 0;
  flex-wrap: wrap;
}

.tick-radio-wrapper {
  width: 48%;
  max-width: 285px;
}