.form-elements__content
  include text-forms/text-forms
  .tick-radio-wrapper
    include toggles/toggles
    include checkboxes/checkboxes
  include search-dropdown/search-dropdown
  include user-profile/user-profile