.john-profile__info
  .john-profile__info-name John Smith
  .john-profile__info-profession ux designer
  .john-profile__info-social
    i.fab.fa-facebook-f(aria-hidden="true")
    i.fab.fa-twitter(aria-hidden="true")
    i.fab.fa-dribbble(aria-hidden="true")
  
