.arrow-buttons__content
  include left-button/left-button
  include right-button/right-button
  include left-button/_disabled/left-button_disabled
  include right-button/_disabled/right-button_disabled
  include left-button/_hovered/left-button_hovered
  include right-button/_hovered/right-button_hovered