.left-button_hovered {
  @include flex(row);
  @include size(44px);
  justify-content: center;
  margin: 0 12px;
  border-radius: 50%;
  border: 3px solid $coldColor;

  &:hover{
    background-color: $coldColor;

    .left-button__arrow_hovered {
      border: solid white;
      border-width: 0 3px 3px 0;
    }
  }

  .left-button__arrow_hovered {
    border: solid $coldColor;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(135deg);
    margin-right: -5px;
  }
}