.text-forms__input-wrapper
  input(type="text" placeholder="Your Email" required minlength="1").text-forms__input-success
  .text-forms__input-success-message thanks!
    .text-forms__input-success-square