.search-field_error-wrapper
  input(type="text" placeholder="I’ve not found what I’m looking for...").search-field_error
  button.submit-button_error
    a(href='#')
      i.fa.fa-search(aria-hidden="true")