article.standart-buttons
  h2.article-header standart buttons
  .standart-buttons__content
    button.button.button_small.button_cyan_hovered.button_pressed button
    button.button.button_big.button_cyan_hovered.button_pressed button
    button.button.button_big.button_orange_hovered.button_pressed button
    button.button.button_small.button_orange_hovered.button_pressed button
    button.button.button_small.button_cyan_hovered button
    button.button.button_big.button_cyan_hovered button
    button.button.button_big.button_orange_hovered button
    button.button.button_small.button_orange_hovered button
    button.button.button_small.button_cyan_disabled button
    button.button.button_big.button_cyan_disabled button
    button.button.button_big.button_orange_disabled button
    button.button.button_small.button_orange_disabled button