@import "./button_cyan-big/button_cyan-big";
@import "./button_cyan-big-hover/button_cyan-big-hover";
@import "./button_cyan-big-ripple/button_cyan-big-ripple";
@import "./button_cyan-small/button_cyan-small";
@import "./button_cyan-small-hover/button_cyan-small-hover";
@import "./button_cyan-small-ripple/button_cyan-small-ripple";
@import "./button_orange-big/button_orange-big";
@import "./button_orange-big-hover/button_orange-big-hover";
@import "./button_orange-big-ripple/button_orange-big-ripple";
@import "./button_orange-small/button_orange-small";
@import "./button_orange-small-hover/button_orange-small-hover";
@import "./button_orange-small-ripple/button_orange-small-ripple";

.standart-buttons {
  @include flex(column);
  justify-content: center;
  width: 45%;
  min-width: 594px;

  &__header {
    text-transform: uppercase;
    font-size: 18px;
    color: $darkFont;
  }

  &__content {
    @include flex(row, flex-end);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 63px 29px 63px;
    margin-top: 60px;
  }
}