//Fonts
$mainFont:          "Lato-Regular", Helvetica, Arial, sans-serif;
$boldFont:          "Lato-Black", Helvetica, Arial, sans-serif;
$thinFont:          "Lato-Light", Helvetica, Arial, sans-serif;
$addFont:           "SourceSansPro-Regular", Helvetica, Arial, sans-serif;
$addThinFont:       "SourceSansPro-Light", Helvetica, Arial, sans-serif;

//Sizes
$standartWidth:     700px;
$mainFontSize:      1rem;

//Colors
$darkFont:          #4f4f4f;
$lightFont:         #fff;
$coldColor:         #4eb7a8;
$warmColor:         #e75735;