.right-button {
  @include flex(row);
  @include size(44px);
  justify-content: center;
  margin: 0 12px;
  border-radius: 50%;
  border: 3px solid $coldColor;

  &__arrow {
    border: solid $coldColor;
    border-width: 3px 0 0 3px;
    display: inline-block;
    padding: 6px;
    transform: rotate(135deg);
    margin-right: 5px;
  }
}
