article.location
  h2.article-header location
  .google-map
    .google-map-window
    .google-map-description
      .google-map-description__meet Meet us!
      .google-map-description__address 1259  CALIFORNIA ST 
        br 
        | San Francisco, CA
      .google-map-description__icons
        i.fas.fa-map-marker-alt
        i.fas.fa-globe-americas