article.location
  h2.article-header location
  .map
    #map
    .map-description
      .map-description__meet Meet us!
      .map-description__address 1259  CALIFORNIA ST 
        br 
        | San Francisco, CA
      .map-description__icons
        img(src="assets/img/location/my-location.png", alt="")
        img(src="assets/img/location/pin.png", alt="")