.location {
  @include flex(column);
  width: 100%;
  max-width: 594px;
}

.map {
  @include size(100%, 270px);
  background-color: $warmColor;
  border-radius: 3px;
  margin: 20px 0;

  &-description {
    @include flex(row);
    height: 65px;
    color: #fff;

    &__meet {
      width: 25%;
      font-family: $thinFont;
      font-size: 28px;
      text-align: center;
    }

    &__address {
      width: 61%;
      font-family: $boldFont;
      font-size: 12px;
    }

    &__icons {
      @include flex(row);
      justify-content: space-around;
      width: 12%;
    }
  }
}

#map {
  @include size(594px, 205px);
  background-color: #fff;
}