@import "./utils/imports";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 1400px;
  @include flex(row);
  margin: 0 auto;
  font-family: $boldFont;
}

.content-wrapper {
  width: 100%;
  @include flex(column);
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}

.article {
  @include flex(column);
  justify-content: center;
  width: 45%;
  min-width: 594px;
}

.article-header {
  text-transform: uppercase;
  font-size: 18px;
  color: $darkFont;
}