<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title JQuery plugins
  body
   div.content-wrapper
    p ЧТОБ САЙТ БЫЛ НА СТОЛЕ К ОБЕДУ!
    img(src="./static/img/boss.jpeg", alt="boss demands")