@import "./utils/imports";


* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  max-width: 1400px;
  @include flex(row);
  margin: 0 auto;
  font-family: $boldFont;
}

.content-wrapper {
  width: 100%;
  @include flex(row, flex-start);
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px;
  @media screen and (max-width: 1288px) {
    justify-content: center;
  }
}