.search-field-wrapper
  input(type="text" placeholder="Search").search-field
  button.submit-button 
    a(href='#')
      i.fa.fa-search(aria-hidden="true")
include search-field_error/search-field_error