.events-block
  .events__image
    img(src="/assets/img/events.png", alt="")
  .events__text
    h3.events__text-header
      span.date 24 
      | Aug
    p.events__text-title this is the title
    p.events__text-content Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    button.events__text-button add to calendar